<!DOCTYPE html>
<!lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrering Odd fellow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body class="">

    <img class="logo center" src="{{ url_for('static', filename='images/oddbild.jpeg') }}" alt="Odd Fellow logo">

    <div id="guestModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

    <!-- Guest modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Registrering</h4>
      </div>
      <div class="modal-body">
        <form action="/register" method="post">
            <p>För och efternamn:</p>
        <input type="text" name="name" value="">

            <p>Medlemsnummer:</p>
        <input type="number" name="membernumber" value="">
        <p></p>
            <p>Hemmaloge:</p>
        <input type="text" name="lodge" value="">
        <input type="submit" value="Submit">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
        </div>
    </div>

    <div id="registedModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Registrerad</h4>
                </div>
                <div class="modal-body">
                    <p>Välkommen {{ name }} du är nu registrerad!</p>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>


    <div class="center-button">
        <button href="#" class="button red center-button" data-toggle="modal" data-target="#guestModal">Jag är gästande broder</button>
    </div>

</div>

<script>
$(function(){
    $('#registedModal').on('show.bs.modal', function(){
        var registedModal = $(this);
        clearTimeout(registedModal.data('hideInterval'));
        registedModal.data('hideInterval', setTimeout(function(){
            registedModal.modal('hide');
        }, 2000));
    });
});
</script>

</body>
</html>