<!DOCTYPE html>
< lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrering Odd fellow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../style/style.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!--I will use REACT for the front end so don mind this. It is just a
template for me to know more or less how i want it to look like -->

<body class="w3-theme-14">

    <img class="logo center" src="../images/oddbild.jpeg" alt="Odd Fellow logo">

    <div id="myModal" class="center w3-panel w3-card w3-display-container green">
        <span class="w3-display-center w3-padding w3-hover-red"></span>
        <p class="center-text w3-text-black">
            <h2 class="center-text">Välkommen!</h2>
        </p>
        <img class="center img" src="https://medlemssystemet.oddfellow.se/member_images/2025807.jpg">
        <p class="center-text">Daniel Ekerot</p>
        <p class="w3-text-black"><h3 class="center-text">Du är nu registrerad!</h3></p>
    </div>

    <div class="center-button">
        <button href="#" class="button red center-button">Jag är gästande broder</button>
    </div>

</div>

</body>
</html>